# Django
DEBUG=False
SECRET_KEY=sua-chave-secreta-aqui
ALLOWED_HOSTS=localhost,127.0.0.1,your-app.herokuapp.com

# Database
DATABASE_URL=postgresql://user:password@localhost:5432/calculadora

# Heroku
HEROKU_APP_NAME=your-app-name
